body {
  background-color: #e9e9e9;
}

.wrapper {
  /* background-color: #e9e9e9; */
  display: flex;
  flex-direction: column;
}

.textHeader {
  text-align: center;
  font-family: Lazo, sans-serif;
  margin: 3rem auto 2rem auto;
}

.questionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  margin: 0 50px;
  padding: 24px 32px;
  border-radius: 20px;
}

.questionGrid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.questionLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 13px;
}

.questionNumSquare {
  text-align: center;
  font-family: Lazo, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding: 4px 11px;
  background-color: #c5c5c5;
  border-radius: 8.4px;
}

.questionDisplay {
  /* padding: top px right bottom left; */
  padding: 61px 310px 61px 310px;
  background-color: #C5C5C5;
  margin-bottom: 29px;
  text-align: center;
  max-width: 51.8rem;
  border-radius: 20px;
}

.responseRow {
  display: inline-flex;
  justify-content: center;
  gap: 11px;
  margin-bottom: 32px; /* change later */
}

.answerResponseSquare {
  background-color: #C5C5C5;
  border-radius: 20px;
  padding: 17px 35px 17px 35px;
  border: none;
}

.arrowRow {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.leftArrow {
  width: 50px;
  height: 50px;
}