.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textHeader {
  text-align: center;
  font-weight: 300;
  margin: 3rem auto 2rem auto;
}
.questionModalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.arrowBtn:hover {
  color: red;
}

.arrows {
  width: 50px;
  height: 30px;
}

.questionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  margin: 0 25px 21px;
  padding: 24px 0 32px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.questionNumSquare {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding: 4px 11px;
  background-color: #c5c5c5;
  border-radius: 8.4px;
}

.questionPrompt {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 35px 0;
  margin-bottom: 55px;
  max-width: 51.8rem;
}

.responseRow {
  display: inline-flex;
  justify-content: center;
  gap: 0.7rem;
  margin-bottom: 2.56rem; /* change later */
}

.answerResponseSquare {
  background-color: #47b74957;
  color: #47b749;
  border-radius: 20px;
  padding: 1.06rem 2.18rem;
  border: none;
  cursor: pointer;
}

.answerResponseSquare:hover {
  background-color: darkgreen;
}

.isSelected {
  background-color: darkgreen;
}

.questionLinks {
  flex: 1;
  background-color: #4c78e74d;
  color: #4c78e7;
  padding: 5px 5px;
  height: 100%;
}
.isAnswered {
  color: #ffffff;
  background-color: #4c78e7;
}

.submitButton {
  border-radius: 15px;
  text-align: center;
  border-radius: 46px;
  padding: 20px 40px;
  border: none;
  opacity: 0.5;
}

.notSubmittable {
  background-color: #ababab4d;
  color: #545454;
}

.submittable {
  background-color: #4c78e74d;
  color: #4752b7;
  opacity: 1;
  cursor: pointer;
}

.submittable:hover {
  background-color: #1542b54d;
  color: #1e2db8;
}

.progressIndicator {
  width: 100%;
  position: absolute;
  border-radius: 20px;
  top: 0;
}

.questionBar {
  display: flex;
  flex-direction: row;
  height: 48px;
  border-radius: 20px;
  width: 100%;
}
