.wrapper {
    display: flex;
    flex-direction: column;
}

.textHeading {
    text-align: center;
    font-weight: 400;
    margin: 3rem auto 2rem auto;
}

/* Filter Elements */

.filterContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 4rem;
    margin-bottom: 3rem;
}

.filterText {
    font-weight: 400;
    color: #000000;
}

.filterButton {
    border: none;
    background-color: transparent;
}

/* Filter Item Elements */

.filterIndustriesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
}

.filterIndustryWrapper {
    background-color: #4c78e757;
    padding: 0.2rem 0.3rem;
    margin-right: 0.5rem;
    margin-bottom: 0.8rem;
    border-radius: 20px;
    text-decoration: none;
    color: #4c78e7;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.filterIndustryButton {
    font-weight: 500;
    text-align: center;
    color: #000000;
    font-size: small;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

/* Individual Modal Elements */

.individualCareerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.careerIndustryWrapper {
    background-color: #4c78e757;
    padding: 0.2rem 2rem;
    margin-left: 8rem;
    margin-bottom: 0;
    border-radius: 20px;
    text-decoration: none;
    color: #4c78e7;
    width: fit-content;
}

.textCareerindustry {
    font-weight: 450;
    text-align: center;
    color: #000000;
    font-size: large;
}

.modalWrapper {
    display: flex;
    flex-direction:row;
    background: #ffffff;
    margin: 4rem 8rem;
    margin-top: 1rem;
    border-radius: 10px;
    height: fit-content;
}

.modalLeftContent {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 2px;
    margin-right: 2rem;
    margin-left: 1rem;
}

.modalRightContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
}

.careersContainer {
    overflow-y: auto;
    max-height: 500px;
}

/* Career Title Elements */

.careerTitleContainer {
    display: flex;
    align-items: flex-start;
}

.careerTitleWrapper {
    background-color: #4c78e757;
    padding: 0.8rem 2.4rem;
    border-radius: 20px;
    text-decoration: none;
    color: #4c78e7;
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    width: 340px;
}

.textCareerTitle {
    font-weight: 450;
    text-align: center;
    color: #000000;
    font-size: large;
}

/* Career Content Elements */

.careerDescriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
    margin-left: 1rem;
    padding-right: 2rem;
}

.textCareerDescription {
    font-weight: 400;
    text-align: left;
    color: #000000;
}

/* Career Image Elements */

.careerImage {
    width: 600px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
