body {
  background-color: #e9e9e9;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.textHeading {
  text-align: center;
  font-family: Lazo, sans-serif;
  margin: 3rem auto 2rem auto;
}

.modalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  margin: 0 16rem;
  padding: 16px 32px;
  border-radius: 20px;
}

.modalSubheading {
  font-size: 1.25rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  max-width: 800px;
  margin-top: 3.5rem;
  margin-bottom: 3.25rem;
}

.signInLink {
  display: flex;
  flex-direction: column;
  gap: 7px;
  background: #c5c5c5;
  padding: 3rem 4.3rem;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.userIcon {
  font-size: 3rem;
}

.guestLink {
  background: #c5c5c5;
  padding: 1rem 2.4rem;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}
