.container {
    border-radius: 5px;
    background-color: rgba(235, 240, 255, 1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    padding: 22px 28px;
  }
  
  @media (max-width: 991px) {
    .container {
      margin-top: 16px;
      padding: 0 20px;
    }
  }
  
  .title {
    font-family: Lato, sans-serif;
    align-self: center;
  }
  
  .sectorWrapper {
    display: flex;
    margin-top: 15px;
    font-size: 36px;
    font-weight: 700;
    justify-content: center;
  }
  
  .sectorIcon {
    background-color: rgba(255, 154, 100, 1);
    width: 63px;
    height: 63px;
    margin: auto 0;
  }
  
  .sectorName {
    font-family: Lato, sans-serif;
  }
  
  .chartContainer {
    background-color: rgba(255, 255, 255, 1);
    overflow-x: auto;
    display: flex;
    margin-top: 15px;
    padding-right: 21px;
    align-items: flex-end;
    gap: 5px;
    font-size: 6px;
    font-weight: 400;
    white-space: nowrap;
    justify-content: space-between;
  }
  
  @media (max-width: 991px) {
    .chartContainer {
      padding-right: 20px;
      white-space: initial;
    }
  }
  
  .barWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }
  
  @media (max-width: 991px) {
    .barWrapper {
      white-space: initial;
    }
  }
  
  .barLabel {
    font-family: Lato, sans-serif;
  }
  
  .bar {
    height: 102px;
  }
  
  .clickPrompt {
    font-family: Lato, sans-serif;
    align-self: center;
    margin-top: 15px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }