
.btn-group{

    width: 1158px;
    height: 62px;
    left: 20px;
    top: 20px;

    gap: 500px;
    display:flex;

}

.questionRow{
width: 1158px;
height: 62px;
left: 20px;
top: 20px;

background: rgba(76, 120, 231, 0.3);

}



