.headerWrapper {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 13px grey;
}

.yfioblogo {
  display: block;
  height: 57px;
}

.navContainer {
  display: flex;
}

.loginContainer {
  display: flex;
}

.signIn {
  display: inline-block;
  width: 107px;
  height: 57px;
  margin-right: 9px;
  font-size: 20px;
  font: "Lato", sans-serif;
  border-radius: 30px;
  border: none;
  background-color: #4c78e757;
  text-decoration: none;
  text-align: center;
  line-height: 57px;
  color: black;
}

.signIn:hover {
  color: gray;
  text-decoration: none;
}

.signOutBtn {
  display: inline-block;
  cursor: pointer;
  width: 107px;
  height: 57px;
  margin-right: 9px;
  font-size: 20px;
  font: "Lato", sans-serif;
  border-radius: 30px;
  border: none;
  background-color: #4c78e757;
  text-decoration: none;
  text-align: center;
  line-height: 57px;
  color: black;
}

.signOutBtn:hover {
  color: gray;
}

.adminBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 30px;
  width: 145px;
  background-color: #4c78e757;
}

.admin {
  display: inline;
  margin-right: 9px;
  padding-left: 24.4px;
  font-size: 1.25rem;
  font: "Lato", sans-serif;
  text-decoration: none;
  line-height: 57px;
  color: black;
}

.admin:hover {
  color: gray;
  text-decoration: none;
}

.lock {
  height: 30px;
}
