.wrapper {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.textHeader {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.chartContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pieChart, .barChart {
  flex: 1;
  padding: 10px;
  margin: 0 10px; /* Optional: Adds space between the charts */
}

.moreDetails {
  margin-bottom: 20px;
  text-align: center;
}

.shareResults {
  text-align: center;
  margin-bottom: 20px;
}

.customLabel {
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 5px;
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  display: inline-block;
  white-space: nowrap;
  word-wrap: break-word;
  height: fit-content;
}

