.wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .textHeader {
    text-align: center;
    font-family: Lazo, sans-serif;
    font-weight: 300;
    margin: 3rem auto 2rem auto;
  }
  .questionModalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrowBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .arrowBtn:hover {
    color: red;
  }
  
  .arrows {
    width: 50px;
    height: 30px;
  }
  
  .questionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    margin: 0 25px;
    padding: 24px 32px;
    border-radius: 20px;
  }
  
  .questionNumSquare {
    text-align: center;
    font-family: Lazo, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 4px 11px;
    background-color: #c5c5c5;
    border-radius: 8.4px;
  }
  
  .questionPrompt {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 35px 0;
    margin-bottom: 55px;
    max-width: 51.8rem;
  }
  
  .responseRow {
    display: inline-flex;
    justify-content: center;
    gap: 0.7rem;
    margin-bottom: 2.56rem; /* change later */
  }
  
  .answerResponseSquare {
    background-color: #47b74957;
    color: #47b749;
    border-radius: 20px;
    padding: 1.06rem 2.18rem;
    border: none;
    cursor: pointer;
  }
  
  .answerResponseSquare:hover {
    background-color: darkgreen;
  }
  
  .isSelected{
    background-color: darkgreen;
  }
  
  .questionGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 1rem;
  }
  
  .questionLinks {
    background-color: #4c78e74d;
    color: #4c78e7;
    padding: 5px 57px;
    border: none;
    border-radius: 8.4px;
    cursor: pointer;
  }
  
  .questionLinks:hover {
    box-shadow: 0px 1px 1px black;
  }
  
  .isAnswered{
    color: #ffffff;
    background-color: #4c78e7;
  }
  