.wrapper {
  display: flex;
  padding: 20px;
}

.leftHandSide {
  flex: 0 0 35%; /* Adjust the percentage as needed (20%-30%) */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.rightHandSide {
  flex: 0 0 65%; /* Adjust the percentage as needed (70%-80%) */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.circleChart{
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
}

.share {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.share h3 {
  width: 100%;
  margin-top: 40px;
  font-family: Lato;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  line-height: 43.2px;
  text-align: center;
}

.share form {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center elements horizontally within the form */
}

.share input {
  width: 376.38px;
  height: 45.74px;
  border-radius: 20px;
  border: 2px solid #4C78E7;
  margin-top: 20px;
}

.share input::placeholder {
  font-family: Lato;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 17.99px;
  text-align: center;
  color: #4C78E780;
}

.share button {
  width: 120px;
  height: 50px;
  border-radius: 25px;
  box-sizing: border-box;
  background: #4C78E780;
  border: 1px solid #4C78E7;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
}

.barChart{
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
}

.careerExploration{
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
}

.percentageChart{
  background-color: #FFFFFF;
  padding: 20px;
}

.careerExploration h2{
  width: 478px;
  height: 43px;
  top: 529px;
  left: 557px;
  gap: 0px;
  opacity: 0px;
  margin-bottom: 20px;

  font-family: Lato;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  line-height: 43.2px;
  text-align: center;
}

.career {
  background-color: #4C78E733;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.careerTitle {
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-flex;
  margin-top: 20px;
  margin-left: 15px;
  
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: #4C78E733;
  ;
}

.textBox p {
  margin-top: 20px;
  margin-left: 20px;
}

.textBox p:last-child {
  margin-bottom: 20px;
}

.rightHandCareer {
  margin-left: 40px;
  margin-right: 20px;
  width: 500px;
  height: 200px;
  background-color: #FFFFFF;
}