.header {
  width: 1512px;
  height: 982px;
  position: relative;
  background: #E9E9E9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 1512px;
  height: 184px;
  position: absolute;
  background: white;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}

.yfioblogo {
  margin-left: 39px;
  margin-top: -15px;
  width: 192px;
  height: 57px;
}

.takeQuiz {
  margin-top: 63px;
  padding-left: 58px;
  width: 118px;
  font-size: 20px;
  font: "Lato", sans-serif;
  text-decoration: none;
  color: #4C78E7;
}

.takeQuiz:hover {
  color: gray;
}

.exploreCareers{
  margin-top: 63px;
  padding-left: 8px;
  width: 155px;
  font-size: 20px;
  font: "Lato", sans-serif;
  text-decoration: none;
  color: black;
}

.exploreCareers:hover {
  color: gray;
}

.signIn {
  margin-top: 55px;
  margin-left: 628.6px;
  display: inline-block;
  width: 107px;
  height: 57px;
  font-size: 20px;
  font: "Lato", sans-serif;
  border-radius: 30px;
  border: none;
  background-color: #C5C5C5;
  text-decoration: none;
  text-align: center;
  line-height: 57px;
  color: black;
}

.signIn:hover {
  color: gray;
}

.admin {
  margin-top: 55px;
  margin-left: 31px;
  display: inline-block;
  padding-left: 24.4px;
  width: 145px;
  height: 57px;
  font-size: 20px;
  font: "Lato", sans-serif;
  border-radius: 30px;
  border: none;
  background-color: #C5C5C5;
  text-decoration: none;
  text-align: left;
  line-height: 57px;
  color: black;
}

.admin:hover {
  color: gray;
}

.lock {
  margin-left: 10px;
  width: 33px;
  height: 33px;
  vertical-align: -9px;
}

.title-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.title {
  margin-top: 248px;
  font-size: 36px;
  weight: 400;
  font: "Lato", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.whiteSquare {
  background-color: white;
  width: 1002px;
  height: 415px;
  margin-top: 324px;
  border: none;
  border-radius: 20px;
  padding-top: 76px;
  text-align: center;
}

.text {
  size: 40px;
  width: 770px;
  font: "Lato", sans-serif;
}
