.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.filterContainer {
	display: flex;
	align-items: center;
	padding: 10px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

.searchContainer {
	flex: 0 0 auto;
	padding: 5px 10px;
}

.search {
	flex: 1;
	margin-right: 10px;
	border: none;
	border-bottom: 1px solid #ccc;
}

.searchButton {
	border: none;
	background-color: transparent;
	font-size: 1.5em;
}

.tableContainer {
	width: 100%;
	height: 400px;
	overflow: auto;
}

.tableWrapper {
	margin-top: 10px;
}

table {
	width: 100%;
	border-collapse: separate; /* Change from collapse to separate */
	border-spacing: 10px; /* Add spacing between both rows and columns */
}

table,
th,
td {
	border-radius: 10px; /* Rounded corners for the table and cells */
}

thead {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 1;
}

thead th {
	background-color: #007bff;
	color: white;
	padding: 10px;
	text-align: left;
}

thead th.emptyHeader {
	background-color: white;
}

td {
	background-color: #e0f2fe;
}

table tbody td {
	padding: 15px 20px; /* Add padding around each cell */
}

.name,
.grade,
.school,
.zipcode,
.email {
	font-size: large;
}

.index {
	width: 5%;
}

.name {
	width: 15%;
}

.grade,
.zipcode {
	width: 5%;
}

.school {
	width: 35%;
}

.email {
	width: 35%;
}

.pagination {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

.pagination button {
	margin-left: 5px;
	padding: 5px 10px;
	border: 1px solid #007bff;
	background-color: white;
	color: #007bff;
	border-radius: 4px;
	cursor: pointer;
}

.pagination button:disabled {
	background-color: transparent;
	color: #ccc;
	border: 1px solid #ccc;
	cursor: not-allowed;
}

.pagination button.activePage {
	background-color: #007bff;
	color: white;
}

.pagination .arrowButton {
	background-color: transparent;
	border: none;
	color: #007bff;
	cursor: pointer;
}

.pagination .arrowButton:disabled {
	color: #ccc;
	cursor: not-allowed;
}
