.container {
  flex-direction: column;
  height: 100vh;
}

.filterContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.searchContainer {
  flex: 0 0 auto;
  padding: 5px 10px; 
}

.search {
  flex: 1;
  margin-right: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.searchButton {
  border: none;
  background-color: transparent;
}

.tableContainer table {
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
}

.tableContainer {
  width: 100%;
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tbody tr {
  margin-bottom: 10px !important;
}

th, td {
  text-align: left;
  padding: 15px 8px;
}

.name, .grade, .school, .zipcode, .email {
  background-color: #e0f2fe;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: large;
}

.index {
  width: 5%;
}

.name {
  width: 20%;
}

.grade, .school, .zipcode {
  width: 15%;
}

.email {
  width: 25%;
}
